@import url('https://fonts.googleapis.com/css?family=Lato');


.afu-container{
    background-color: rgb(255, 255, 255);
    margin-top: 3vh;
    border: 1px solid rgb(238, 237, 237);
    border-radius: 6px;
}
.title{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.border{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}
.resetBtn{
    padding: 10px;
    margin: 10px;
}
.ffLato {
    font-family: 'Lato', sans-serif;
}
.bottom-info p {
    font-size: 1.5rem;
}
.card .container{
width: 100%;
}
.btn-primary    {
    background-color: #000!important;
}
.afu-select-btn{
    background-color: #000!important;
}
.afu-select-btn .afu-select-btn:hover, .afu-select-btn.focus, .afu-select-btn:focus {background-color: #303030!important; 
	color: #f7f200!important; 
    border: 1px solid #000!important;
    background-color: #000!important;
	margin-right: 15px!important;}
.afu-reset-btn {background-color: #303030!important; 
	color: #f7f200!important; 
	border: 1px solid #000!important;
	margin-right: 15px!important;}
 .afu-upload-btn {color: #fff!important;
	background-color: #f0ad4e!important;
	border-color: #eea236!important;}
.constraints-info .afu-constraints-info{
 font-size: 10rem!important;
}


 /* .btn-warning, .btn-warning:hover, .btn-warning.focus, .btn-warning:focus{
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-dark{	
	background-color: #303030; 
	color: #f7f200; 
	border: 1px solid #000;
	margin-right: 15px;
} */
/* @font-face { font-family: supermercado;
             src: url('https://fonts.googleapis.com/css?family=Supermercado+One'); } */